// ===========================================
// Content
// ===========================================

.content {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 2rem;

    @include tablet {
        flex-direction: row;
    }

    &__container {
        flex-grow: 2;

        @include tablet {
            padding-right: 3rem;
        }
    }
}