// ===========================================
// Footer
// ===========================================

.footer {
    margin: 0;
    width: 100%;
    background-color: #edeff0;
    color: #8d9aa5;

    &__container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        padding: 2rem;
        
        @include tablet {
            max-width: 90%;
        }
    }
}