// ===========================================
// Header
// ===========================================

.header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;

    &__container {
        position: fixed;
        top: 0;
        background-color: #3e474f;
        color: #fff;
        width: 100%;
        padding: 0.5rem;
        transition: all 0.3s ease-in-out;
        height: 70px;
        overflow: hidden;

        &--show {
            height: 200px;
            transition: all 0.3s ease-in-out;
        }
    }

    &__logo {
        display: flex;
        text-align: left;
        align-items: center;
        flex-grow: 4;
        font-size: 2rem;
        font-family: 'Montserrat', sans-serif;

        &__icon {
            margin: 0 0.8rem 0 0.8rem;
            color: #5A666F;
            font-size: 1.2rem;

            @include tablet {
                font-size: 1.4rem;
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 100%;
        padding: 2rem;

        @include tablet {
            max-width: 90%;
        }

        &__item {
            display: inline-block;
            margin-right: 1rem;
            font-size: 1rem;

            @include tablet {
                font-size: 1.5rem;
            }
        }
    }

}