// ===========================================
// Sidebar
// ===========================================

.sidebar {
    min-width: 30%;

    @include tablet {
        padding: 0 2rem 2rem 2rem;
        border-left: 1px dashed #d4d4d4;
    }
}